<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark"> 
    <a class="navbar-brand" href="#"><i class="fa fa-github" style="font-size:36px"></i></a>
          <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search or jump to" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">/</button>
          </form>
  
          <div class="collapse navbar-collapse" >
          <ul class="navbar-nav ">
          <a href="#"><li class="nav-item active">Pull requests</li></a>
          <a href="#"><li class="nav-item ">Issues</li></a>
          <a href="#"><li class="nav-item ">Marketplace</li></a>
          <a href="#"><li class="nav-item ">Explore</li></a>
          </ul>
          </div>
  
          <div id="container">
              <ul>
              <li><i class="fa fa-bell" aria-hidden="true"></i></li>
              <li><i class="fa fa-plus" aria-hidden="true"></i></li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">New repository</a>
              <a class="dropdown-item" href="#">Import repository</a>
              <a class="dropdown-item" href="#">New Git</a>
              <a class="dropdown-item" href="#">New Ornanization</a>
              <a class="dropdown-item" href="#">New Project</a>
              </div>
              </li>
              <li> <img src="assets/img/git1.png" alt="..."></li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <a class="dropdown-item" href="#">Sign in as<br>rakesh</a>
              <div class="dropdown-divider"></div>
              
              <a class="dropdown-item" href="#"><button type="button" class="btn btn-light"><i class="fa fa-smile-o"
              aria-hidden="true"></i>Update Status</button></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Your profile</a>
              <a class="dropdown-item" href="#">Your repositories</a>
              <a class="dropdown-item" [routerLink]="['/fav']">Your stars</a>
              <a class="dropdown-item" href="#">Your gits</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Help</a>
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="#">Sign out</a>
              </div>
              </li>
              </ul>
              </div> 
            </nav>
            <app-gitcomponent></app-gitcomponent>
           
            <!---footer section-->
            <footer>
                <footer class="footer-area footer--light">
                    <div
                        class="footer-big">
                        <!-- start .container -->
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 col-sm-12">
                                    <div class="footer-widget">
                                        <div class="widget-about">
                                            <img alt="" class="Logo " src="img/np3.png">
                                            <p></p>
                                            <ul class="contact-details">
                                                
                                                <li>
                                                    <span class="icon-earphones"></span>
                                                    Call Us:
                                                    <a href="tel:70-3242-6824">
                                                        <i class="fas fa-phone text-white"></i>
                                                        7032426824</a>
                                                </li>
                                                <li>
                                                    <span class="icon-envelope-open"></span>Write Us:
                                                    <a href="mailto:purimetla.rakesh@cgi.com">
                                                        <i class="fas fa-envelope text-white"></i>
                                                        purimetla.rakesh@cgi.com</a>
                                                </li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                    <!-- Ends: .footer-widget -->
                                </div>
                                <!-- end /.col-md-4 -->
                                <div class="col-md-3 col-sm-4">
                                    <div class="footer-widget">
                                        

                                        <!-- end /.footer-menu -->
                                    </div>
                                    <!-- Ends: .footer-widget -->
                                </div>
                                <!-- end /.col-md-3 -->

                                <div class="col-md-3 col-sm-4">
                                    <div class="footer-widget">
                                        <div class="footer-menu">
                                            <h4 class="footer-widget-title"></h4>
                                            <ul>
                                                <li><a href="#">About Us</a></li>
                                                <li><a href="#">How It Works</a></li>
                                                
                                                <li><a href="#">Testimonials</a></li>
                                                
                                            </ul>
                                        </div>
                                        <!-- end /.footer-menu -->
                                    </div>
                                    <!-- Ends: .footer-widget -->
                                </div>
                                <!-- end /.col-lg-3 -->

                                <div class="col-md-3 col-sm-4">
                                    <div class="footer-widget">
                                        <div class="footer-menu no-padding">
                                            <h4 class="footer-widget-title"></h4>
                                            <ul>
                                                <li><a href="#">Support Forum</a></li>
                                                <li><a href="#">Terms &amp; Conditions</a></li>
                                                
                                                <li><a href="#">FAQs</a></li>
                                                
                                            </ul>
                                        </div>
                                        <!-- end /.footer-menu -->
                                    </div>
                                    <!-- Ends: .footer-widget -->
                                </div>
                                <!-- Ends: .col-lg-3 -->

                            </div>
                            <!-- end /.row -->
                        </div>
                        <!-- end /.container -->
                    </div>
                    <!-- end /.footer-big -->
                    

                    <div class="mini-footer">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="copyright-text">
                                        <p>© 2019
                                            <a href="#">github</a>. All rights reserved. Created by
                                            <a href="#">Rakesh</a>
                                        </p>
                                    </div>

                                    
                                    <!-- ends .go_top-->
                                </div>
                                <!--ends .col-md-12-->
                            </div>
                            <!--ends .row-->
                        </div>
                        <!--ends .container-->
                    </div>
                    <!--ends .mini-footer-->
                </footer>
            </footer>
           

            <router-outlet>
            </router-outlet>